replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: luspokvenus/${{values.uid}}
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ${{values.uid}}-integ-latest

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: ${{values.uid}}-integ.test.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: 
  requests:
    cpu: 30m
    memory: 30Mi
